@import url('https://fonts.googleapis.com/css2?family=Almendra&family=MedievalSharp&display=swap');

:root {
    font-family: 'Almendra', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-rows: min-content 1fr;
}

#selection, #battle {
    display: none;
}

header {
    padding: 0.5em;
    background-color: #2d4938;
}

h1 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    font-size: 1.5rem;
    color: white;
}

main {
    font-size: 1em;
}

/* Start Screen */

#start-screen {
    display: grid;
    align-content: space-between;
    background-image: url(images/monster_in_jungle.png);
    min-height: calc(100vh - max(1.5rem, 27px) - 1em); /* To simplify this */
}

.bg-container {
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    min-height: inherit;
}

.bg-container>h2, .start-screen-text-container, .btn-container {
    padding: 0 2rem;
}

.bg-container>h2 {
    font-size: 1.5rem;
    padding-top: 1em;
    padding-bottom: 3rem;
}

.start-screen-text-container {
    font-size: 1.25rem;
}

.start-screen-text {
    margin-bottom: 3rem;
    line-height: 1.5;
}

#start-btn, #start-battle {
    display: block;
    margin: 1em auto;
    padding: 0.15em 2em;
    font-family: 'MedievalSharp', cursive;
    font-size: 1.2rem;
    font-weight: bold;
    background-color: #a7813a;
    color: white;
} 

/* Hero Selection Screen */

.hero>img {
    max-width: 100%;
}

#selection {
    padding: 0 0.5em;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 1em;
}

.hero>p {
    text-align: center;
}

.hero-bio.stats{
    display: flex;
    justify-content: space-around;
}

#hero-bio>p {
    margin: 0.75em 0;
}

#hero-bio>span {
    font-weight: bold;
}

ul {
    padding-left: 10px;
    margin-bottom: 0.75em;
    /*list-style-type: none;*/
}

ul>li::marker {
    content: "- "
}

#start-battle {
    margin: 0.5em auto;
}

/* Battle Screen */

#bg {
    width: 100%;
    max-width: 512px;
}

#hero {
    max-width: 40%;
}

.user-section {
    display: flex;
}

.action-description {
    font-size: 0.75rem;
}

.action-description {
    padding-left: 1em;
}

#action-1:hover ~ div>ol>li.one,
    #action-2:hover ~ div>ol>li.two,
    #action-3:hover ~ div>ol>li.three {
    font-weight: bold;
}


/* 
.hero>img {
    max-width: 80%;
    margin: 0 auto;
}

.hero {
    display: grid;
    justify-items: center;
} */