* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#selection, #battle {
    display: none;
}

#start-screen {
    height: calc(100vh - 3em);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bg-container {
    background-image: url(images/monster_in_jungle.png);
    height: clamp(70%, 100vh, 90%);
}

.start-screen-text-container {
    height: 100%;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    font-size: 1.5rem;
}

.start-screen-text {
    margin-top: 3rem;
}

#start-btn {
    display: block;
    margin: 0 auto;
} 

/* Hero Selection Screen */

.hero>img {
    max-width: 100%;
}

.hero-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    gap: 1em;
}

.hero-bio.stats{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-around;
}

ul {
    /* text-align: center; */
    margin-top: 0;
    padding-left: 10px;
    /*list-style-type: none;*/
}

ul>li::marker {
    color: red;
    content: "- "
}

/* Battle Screen */

#bg {
    width: 100%;
    max-width: 512px;
}

#hero {
    max-width: 40%;
}

.user-section {
    display: flex;
}

.action-description {
    font-size: 0.75rem;
}

.action-description {
    padding-left: 1em;
}

#action-1:hover ~ div>ol>li.one,
    #action-2:hover ~ div>ol>li.two,
    #action-3:hover ~ div>ol>li.three {
    font-weight: bold;
}